<div id="search-component">
  <label for="search-box">Hero Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <!-- heroes$ indicates the heroes is Observable - not an array -->
    <!-- *ngFor can't do anything w/ an Observable, use | async which subscribes to an Observable automatically -->
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>
